{# credential_tool/templates/cred-template.html.twig #}

<h1>Welcome to the Postsecondary Credential Attainment Decision Tree!</h1>

<h2><b>What is this tool?</b></h2>

<p>The Department of Labor&nbsp;(DOL) Employment &amp;&nbsp;Training Administration (ETA) designed this interactive tool and accompanying guide &nbsp;(based on similar tool developed by the Workforce Innovation Technical Assistance Center (WINTAC) &nbsp; to assist grantees in making determinations about whether individual credentials count toward the Workforce Innovation and Opportunity Act (WIOA) credential attainment primary indicator of performance. States, Local Workforce Development Boards (LWDB) and other Federal grantees utilizing the WIOA Credential Attainment indicator may use this tool to help determine if a credential meets the definition of recognized postsecondary credential, as defined by WIOA.&nbsp; Please read the guide for detailed examples of types of credentials that count, industry recognized credentials, the difference between certification and certificates and more valuable tips.</p>

<h2><b>What types of credentials should this tool be used for?</b></h2>

<p><a class="tooltip-link" title="These elements correspond to Workforce Innovation and Opportunity Act (WIOA) Common Performance Reporting - OMB Control No. 1205-0526.">Please use this tool for postsecondary credentials only. The tool is primarily applicable to Title I programs.</a></p>

<p>Please use this tool in conjunction with relevant joint and DOL-only performance guidance (i.e., TEGL 10-16, Change 1 and TEGL 14-18); it is only accurate to the extent that users provide accurate responses to the questions. Grantees that are required to report the WIOA Credential Attainment indicator are encouraged to create guidance and policies that, when possible, align with the other grantees implementing WIOA core programs.</p>

<p><i>Get started by answering the questions below, using the dropdown lists provided, to determine which credentials count as a WIOA recognized postsecondary credential in the Credential Attainment performance indicator.</i></p>


<div id="{{cred_block}}"></div>
